.manage-patient-container {
    .m-p-title {
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
        margin: 10px 0;

    }

    .m-p-body {
        padding: 0 20px;

        .m-p-content {
            padding: 20px 0;

            .btn-confirm {
                padding: 5px 10px;
                margin: 5px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                background-color: orange;
                color: black;
            }

            .btn-send-invoice {
                padding: 5px 10px;
                margin: 5px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                background-color: #007bff;
                color: white;
            }
        }
    }
}