.doctor-detail-container {
    height: 500px;

    .intro-doctor {
        display: flex;
        margin: 0 100px;

        .content-left {
            width: 20%;
            background: center center no-repeat;
            background-size: cover;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin: 10px 20px;
        }

        .content-right {
            width: 80%;
            display: flex;
            flex-direction: column;
            padding-left: 10px;

            .up {
                h2 {
                    font-size: 20px;
                    font-weight: 600;
                    padding-top: 15px;

                }
            }

            .down {
                span {
                    font-size: 14px;
                    padding-bottom: 10px;
                }
            }
        }
    }

    .detail-info-doctor {
        padding: 10px 100px; //tren, phai, duoi, trai theo chieu kim dong ho
        background-color: #f9f9f9;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;

        h3 {
            font-size: 17px;
            font-weight: 600;
            margin: 15px 0;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    .comment-doctor {
        height: 100px;
    }
}