   .intro-doctor {
       display: flex;

       .content-left {
           width: 20%;
           background: center center no-repeat;
           background-size: cover;
           width: 80px;
           height: 80px;
           border-radius: 50%;
       }

       .content-right {
           width: 100%;
           display: flex;
           flex-direction: column;
           padding-left: 10px;

           .up {
               h5 {
                   font-weight: 600;

               }
           }

           .down {
               text-align: justify;

               span {
                   font-size: 14px;
               }
           }
       }
   }